<hr class="hr-line">
<h3 class="title" style="font-size:20px;">
    {% if site.email %}
    <a class="social-btn" href="mailto:{{ site.email }}" target="_blank" title="write to me at {{site.email}}" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i></a>
    {% endif %}

    {% for social in site.data.social_media %}
    <a class="social-btn" href="{{social.url}}" target="_blank" title= "{{social.title}}" rel="noopener noreferrer"><i class="{{social.class}}"></i></a>
    </li>
    {% endfor %}

</h3>
